body {
    margin-top: 73px;
    background-color: darkorange;
    color: whitesmoke;
    font-family: 'IBM Plex Sans',sans-serif;
}

footer {
    height: 70px;
    background-color: #141716;
    font-weight: 400;
    margin-top: 7%;
}

    footer p {
        padding-top: 23px;
        color: whitesmoke;
        font-size: 17px;
    }